.paint {
    display: flex;
    align-items: center;
    justify-content: center;

    & div {
        border: none!important;
    }
    // &-zone {
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     & canvas {
    //         border-radius: 8px;
    //         border: 1px solid;
    //     }
    // }
}